.first-pic {
  height: 500px;
  width: 100%;
  background-color: rgb(202, 202, 202);
  margin-bottom: 2%;
  border-radius: 15px;
}

.owner-pic {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: black;
}

.owner {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2%;
  justify-content: space-between;
}

.owner-cont{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.prod {
  width: 100%;
  height: 100%;
  padding: 2%;
}

.product-input {
  border: 3px solid rgb(137, 137, 137) !important;
  border-radius: 10px !important;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bolder !important;
  width: 500px !important;
}

.pro-pic {
  width: 90px;
  height: 90px;
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.pro-pic:hover {
  transform: scale(1.2);
}

.additional-pics {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.left {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.product-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85%;
}

.bid {
  width: 400px !important;
}

.note {
  text-align: right !important;
  font-weight: bold;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.owner-pic,
.first-pic,
.pro-pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-name {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-spacer {
  height: 5%;
  width: 100px;
  background-color: #3a3a3a;
  border-radius: 50px;
}

.name-spacer {
  height: 5%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.prc-container {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.spc {
  height: 0.5%;
  width: 100%;
  background-color: #b2b2b2;
  border-radius: 50px;
  margin-top: 5%;
}

.desc {
  width: 100%;
  height: auto;
}

.tester {
  width: 100%;
  height: auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.table {
  width: 70% !important;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  border: #b2b2b2 1px solid;
}

th {
  color: #be1622 !important;
}

@media (max-width: 768px) {
  .additional-pics {
    justify-content: center;
    gap: 5px;
  }

  .pro-pic {
    width: 70px;
    height: 70px;
  }

  .first-pic {
    height: 300px;
  }

  .left,
  .right {
    width: 100%;
  }

  .product-info {
    flex-direction: column;
  }

  .bid {
    width: 100% !important;
  }
}
.drop {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dates-container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.dates {
  height: 100px;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #b2b2b2;
}

.start-date {
  height: 50%;
  width: 100%;
  display: flex;
  background-color: #3a3a3a;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bolder;
  color: #fff;
}

.end-date {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bolder;
}

.timer {
  font-weight: bolder;
  color: #be1622;
}


.bi-pencil-square{
  width: 100px !important;
}


.ted{
margin: 3px;
position: relative;
display: inline-block;

}

.icons{
  display: flex;
  margin-right: 100px;
}


.description {
  position: absolute;
  top: 150%;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  opacity: 0.7;
  z-index: 1;
  visibility: hidden;
text-align: center;
}

.ted:hover .description {
  visibility: visible;
}

.bi-trash3{
  color: #be1622;
}