@font-face {
  font-family: "Segoe UI";
  src: url("fonts") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

@media (min-width: 1000px) {
  body {
    background: radial-gradient(circle at center, #2f2f2f 0%, #000000 150%);
  }

  .content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: large;
    align-self: center;
    background-color: white;
    border-radius: 5% 0 0 5%;
    transition: 1s ease;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transition: transform 1s ease;
  }

  .container.reverse {
    transform: translateX(-50%);
  }

  .reverse {
    transition: 1s ease;
  }

  .container.reverse .signtuer {
    transform: translateX(200%);
    transition: transform 2s ease;
  }

  .signtuer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: large;
    align-self: center;
    transition: transform 2s ease;
  }

  .container.reverse .content {
    border-radius: 0 5% 5% 0;
  }

  .logo {
    width: 30%;
    color: red;
    margin-top: 40%;
    transition: transform 5s ease;
  }

  .cta {
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .title {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .form {
    width: 60%;
    margin-bottom: 40%;
  }

  .welcome {
    font-size: 70px;
    color: red;
    font-weight: bolder;
    margin: -10px;
  }

  .forgetpass {
    font-weight: lighter;
    font-size: small;
    text-align: right;
    color: #2f2f2f;
  }

  .form-title {
    font-weight: bold;
    letter-spacing: 2px;
  }

  input {
    width: 100%;
    height: 30px;
    margin: 10px;
    border: 1px solid #323231;
    border-radius: 50px;
    text-align: center;
  }

  .forgetpass a {
    color: #000000;
  }

  button {
    color: #ffffff;
    background-color: #323231;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
  }

  #togglePassword ,#togglePassword2 ,#togglePassword3 {
    width: auto !important;
  }
  .acc {
    font-size: small;
  }

  .acc a {
    color: red;
  }

  button:hover {
    transition: 0.3s ease;
    background-color: red;
    border: 0;
  }

  .logo:hover {
    transition: 0.3s ease;
    filter: drop-shadow(0 0 6px red);
  }

  .forgetpass a:hover {
    transition: 0.3s ease;
    color: red;
  }

  .logo:hover + .cta {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;
  }

  .error-signin, .error-signup {
    color: red;
    font-weight: bold;
    font-size: small;
  }
}

@media (max-width: 999px) {
  body {
    background: linear-gradient(to bottom, #2f2f2f 0%, #000000 100%);
  }

  .container {
    flex-direction: column;
  }

  .container.reverse {
    transform: none;
  }

  .signtuer, .content {
    width: 100%;
    height: auto;
    border-radius: 0;
    transition: transform 1s ease;
  }

  .logo {
    width: 50%;
    margin-top: 20%;
  }

  .cta {
    opacity: 1;
    visibility: visible;
  }

  .welcome {
    font-size: 50px;
  }

  .form {
    width: 80%;
    margin-bottom: 20%;
  }

  .forgetpass {
    font-size: medium;
    text-align: center;
  }

  input {
    width: 90%;
    height: 40px;
    margin: 10px auto;
  }

  .btn {
    width: 100% !important;
    height: 50px !important;  }

  .acc {
    font-size: medium;
  }
}
